@font-face {
	font-family: "tangerine";
	font-weight: normal;
	src:
		url("/tangerine/regular/woff2") format("woff2"),
		url("/tangerine/regular/woff") format("woff"),
		url("/tangerine/regular/ttf") format("truetype");
}
