@font-face {
	font-family: Cinzel;
	font-weight: normal;
	src:
		url("/cinzel/regular/woff2") format("woff2"),
		url("/cinzel/regular/woff") format("woff"),
		url("/cinzel/regular/otf") format("opentype");
}
